<p id="notice"><%= notice %></p>

<h1>Listing Monthly Self Examinations</h1>

<table>
  <thead>
    <tr>
      <th>Periode</th>
      <th>What ive done</th>
      <th>What ive learnt</th>
      <th>What ive felt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_self_examinations.each do |monthly_self_examination| %>
      <tr>
        <td><%= monthly_self_examination.periode %></td>
        <td><%= monthly_self_examination.what_ive_done %></td>
        <td><%= monthly_self_examination.what_ive_learnt %></td>
        <td><%= monthly_self_examination.what_ive_felt %></td>
        <td><%= link_to 'Show', monthly_self_examination %></td>
        <td><%= link_to 'Edit', edit_monthly_self_examination_path(monthly_self_examination) %></td>
        <td><%= link_to 'Destroy', monthly_self_examination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthly self examination', new_monthly_self_examination_path %>
