<p id="notice"><%= notice %></p>

<h1>Auto-évaluations mensuelles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom de l'élève</th>
      <th>Période</th>
      <th>Ce que j'ai fait</th>
      <th>Ce que j'ai appris</th>
      <th>Ce que j'ai ressenti</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_self_examinations.each do |monthly_self_examination| %>
      <tr>
        <td><%= monthly_self_examination.user_id %></td>
        <td><%= monthly_self_examination.periode %></td>
        <td><%= monthly_self_examination.what_ive_done %></td>
        <td><%= monthly_self_examination.what_ive_learnt %></td>
        <td><%= monthly_self_examination.what_ive_felt %></td>
        <td><%= link_to 'Voir', monthly_self_examination %></td>
        <td><%= link_to 'Modifier', edit_monthly_self_examination_path(monthly_self_examination) %></td>
        <td><%= link_to 'Supprimer', monthly_self_examination, method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une nouvelle auto-évaluation', new_monthly_self_examination_path %>
