<p id="notice"><%= notice %></p>

<p>
  <strong>Periode:</strong>
  <%= @monthly_self_examination.periode %>
</p>

<p>
  <strong>What ive done:</strong>
  <%= @monthly_self_examination.what_ive_done %>
</p>

<p>
  <strong>What ive learnt:</strong>
  <%= @monthly_self_examination.what_ive_learnt %>
</p>

<p>
  <strong>What ive felt:</strong>
  <%= @monthly_self_examination.what_ive_felt %>
</p>

<%= link_to 'Edit', edit_monthly_self_examination_path(@monthly_self_examination) %> |
<%= link_to 'Back', monthly_self_examinations_path %>
